{% extends "base.html" %} {% block title %}Index{% endblock %} {% block content
%}
<h1 class="mb-2 text-center">Lost Pet</h1>

<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name" />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" name="age" class="form-control" id="age" />
    </div>

    <div class="form-group my-2">
      <button type="submit" class="btn btn-secondary">Report</button>
    </div>
  </form>
</div>
{% endblock %}
