{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<div class="row text-center container mt-2 " >
    {% for pet in pets %}
  <div class="col mb-3">
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="mr-3">NAME: </span> {{pet.name}}</li>
        <li class="list-group-item"><span class="mr-3">AGE: </span> {{pet.age}}</li>
        <li class="list-group-item">
          <span class="mr-3">LOST: </span> {{pet.lost}}
        </li>
        <li class="list-group-item"><span class="mr-3">Found: </span>{{pet.found}}</li>
      </ul>

      <div class="card-body">
        <button class="btn btn-danger">
          <a href="{{ url_for('pet_update', id=pet.id) }}">Report Found</a>
        </a>
      </div>
    </div>
  </div>

  {%endfor%}

</div>
{% endblock %}
